In [89]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = None

In [5]:
df = pd.read_csv('data/AB_NYC_2019.csv', index_col='id')

In [6]:
df

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [9]:
crimes_df = pd.read_csv('data/NYC_crime.csv')
census_df = pd.read_csv('data/nyc_census_tracts.csv')
census_blocks_df = pd.read_csv('data/census_block_loc.csv')

In [58]:
census_df.sample(10)

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
288,36005039800,Bronx,Bronx,2769,1338,1431,5.4,5.3,87.6,0.0,...,3.5,0.9,2.1,41.3,1404,76.2,19.7,4.1,0.0,16.1
400,36047008400,Kings,Brooklyn,3860,2171,1689,77.1,16.6,1.1,0.0,...,13.4,5.3,2.0,37.1,1830,83.3,5.0,11.6,0.0,7.1
2158,36085029102,Richmond,Staten Island,2814,1318,1496,20.8,66.2,5.1,0.3,...,0.7,0.5,0.8,48.8,1313,71.7,27.6,0.7,0.0,6.9
1346,36061023801,New York,Manhattan,9403,4417,4986,14.4,41.8,12.5,0.0,...,5.1,7.7,1.6,37.0,4970,80.4,16.7,2.9,0.0,5.1
44,36005007200,Bronx,Bronx,5822,2924,2898,50.4,6.2,15.3,0.0,...,5.0,2.2,2.3,42.2,2307,84.8,9.3,5.9,0.0,7.4
1121,36061002202,New York,Manhattan,2019,872,1147,14.6,54.5,4.3,0.0,...,28.4,7.9,2.9,29.1,1492,80.9,3.0,14.8,1.3,5.5
1714,36081049600,Queens,Queens,3110,1559,1551,18.3,3.3,18.9,0.0,...,1.7,2.4,2.0,44.4,1517,78.6,15.4,6.0,0.0,15.3
873,36047065200,Kings,Brooklyn,1241,561,680,1.0,86.3,1.5,0.0,...,3.6,0.0,2.0,44.6,557,68.9,26.8,4.3,0.0,3.3
1323,36061021703,New York,Manhattan,8,0,8,0.0,100.0,0.0,0.0,...,0.0,0.0,100.0,NaN,4,100.0,0.0,0.0,0.0,0.0
222,36005031000,Bronx,Bronx,4869,2181,2688,24.9,43.6,17.3,0.0,...,2.4,1.3,3.4,33.8,1833,76.1,21.7,2.2,0.0,7.1

In [64]:
tract_to_coords_df[tract_to_coords_df.index==36081129103]

              Latitude  Longitude
CensusTract
36081129103  40.736658 -73.759749

In [26]:
census_blocks_df['CensusTract'] = census_blocks_df['BlockCode'].apply(lambda v: int(str(v)[:-4]))

In [30]:
tract_to_coords_df = census_blocks_df.drop('BlockCode', axis='columns').groupby('CensusTract').mean()

In [67]:
census_all_df = tract_to_coords_df.reset_index().merge(census_df, on='CensusTract', how='right')

In [82]:
census_all_df = census_all_df[census_all_df['Latitude'].notnull()]

In [95]:
census_all_df.groupby('Borough')[['Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']].mean()

                     Income     IncomeErr  IncomePerCap  IncomePerCapErr
Borough
Bronx          39504.879630   8574.972222  19537.003021      3487.350453
Brooklyn       54352.684140  11944.056452  27920.572386      4726.540214
Manhattan      83593.674074  18303.551852  69661.963768     12786.134058
Queens         62359.248050  13200.783151  27581.537984      4339.313178
Staten Island  72021.233645  13995.672897  32022.444444      4526.250000

In [96]:
census_all_df.groupby('County')[['Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr']].mean()

                Income     IncomeErr  IncomePerCap  IncomePerCapErr
County
Bronx     39504.879630   8574.972222  19537.003021      3487.350453
Kings     54352.684140  11944.056452  27920.572386      4726.540214
New York  83593.674074  18303.551852  69661.963768     12786.134058
Queens    62359.248050  13200.783151  27581.537984      4339.313178
Richmond  72021.233645  13995.672897  32022.444444      4526.250000

In [90]:
crimes_df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,JURIS_DESC,KY_CD,LAW_CAT_CD,LOC_OF_OCCUR_DESC,OFNS_DESC,PARKS_NM,PD_CD,PD_DESC,PREM_TYP_DESC,RPT_DT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,403250906,26,MANHATTAN,01/01/2016,00:01:00,12/31/2017,23:59:00,COMPLETED,GRANT,N.Y. HOUSING POLICE,233,MISDEMEANOR,INSIDE,SEX CRIMES,NaN,175,"SEXUAL ABUSE 3,2",RESIDENCE - PUBLIC HOUSING,01/02/2019,NaN,NaN,NaN,NaN,NaN
1,235290134,6,MANHATTAN,01/01/2016,12:00:00,03/01/2016,12:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,578,VIOLATION,INSIDE,HARRASSMENT 2,NaN,638,"HARASSMENT,SUBD 3,4,5",PHOTO/COPY,03/11/2019,NaN,NaN,NaN,NaN,NaN
2,983297347,23,MANHATTAN,01/01/2016,08:00:00,12/31/2017,08:00:00,ATTEMPTED,NaN,N.Y. HOUSING POLICE,116,FELONY,INSIDE,SEX CRIMES,NaN,177,SEXUAL ABUSE,RESIDENCE - PUBLIC HOUSING,04/28/2019,NaN,NaN,NaN,NaN,NaN
3,405538879,18,MANHATTAN,01/01/2016,17:00:00,04/05/2019,04:36:00,COMPLETED,NaN,N.Y. POLICE DEPT,361,MISDEMEANOR,INSIDE,OFF. AGNST PUB ORD SENSBLTY &,NaN,639,AGGRAVATED HARASSMENT 2,RESIDENCE - APT. HOUSE,05/15/2019,NaN,NaN,NaN,NaN,NaN
4,614924322,14,MANHATTAN,01/01/2016,00:01:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,109,FELONY,INSIDE,GRAND LARCENY,NaN,430,"LARCENY,GRAND BY BANK ACCT COMPROMISE-UNCLASSI...",BANK,09/11/2019,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,106461662,24,MANHATTAN,12/01/2016,12:00:00,07/29/2019,12:00:00,COMPLETED,NaN,N.Y. HOUSING POLICE,109,FELONY,INSIDE,GRAND LARCENY,NaN,422,"LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)",RESIDENCE - PUBLIC HOUSING,08/13/2019,NaN,NaN,NaN,NaN,NaN
62,871013873,19,MANHATTAN,12/03/2016,14:30:00,08/12/2018,13:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,340,MISDEMEANOR,FRONT OF,FRAUDS,NaN,718,"FRAUD,UNCLASSIFIED-MISDEMEANOR",RESIDENCE-HOUSE,01/15/2019,996750.0,218838.0,40.767336,-73.954875,"(40.76733554700007, -73.95487521099994)"
63,407241454,28,MANHATTAN,12/08/2016,19:00:00,12/08/2016,22:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,104,FELONY,INSIDE,RAPE,NaN,153,RAPE 3,RESIDENCE - APT. HOUSE,03/06/2019,NaN,NaN,NaN,NaN,NaN
64,885176771,5,MANHATTAN,12/16/2016,17:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,125,FELONY,INSIDE,NYS LAWS-UNCLASSIFIED FELONY,NaN,847,"NY STATE LAWS,UNCLASSIFIED FEL",PUBLIC BUILDING,04/10/2019,NaN,NaN,NaN,NaN,NaN
65,939503246,32,MANHATTAN,12/26/2016,23:59:00,12/27/2016,00:59:00,COMPLETED,NaN,N.Y. POLICE DEPT,104,FELONY,INSIDE,RAPE,NaN,157,RAPE 1,RESIDENCE - APT. HOUSE,06/11/2019,NaN,NaN,NaN,NaN,NaN

In [91]:
crimes_df['ADDR_PCT_CD'].unique()

array([26,  6, 23, 18, 14, 25, 34,  5, 28, 30, 32, 33, 10, 19,  9,  1, 24,
       20,  7])